.sidebar{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 60px;
    width: 72px;
    background-color:white;
}
.sidebar-link{
    font-size: 10px;
height: 74px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235,235,235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}
.siebar-div{
    font-family: Roboto,arial;
    font-size: 9.2px;
}